# Entorno virtual
.venv/

# Archivos generados por Python
__pycache__/
*.py[cod]

# Archivos de herramientas y sistemas operativos
.pytest_cache/
.coverage
.DS_Store
Thumbs.db
.env

# Reportes generados localmente
reports/*
!reports/.gitkeep
